{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}

<p class="h1 text-center border-top border-warning border-4 p-2">About us</p>

<div class="container my-5">
    <p class="fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tempor congue tellus, at
        placerat sapien
        aliquam scelerisque. Etiam vehicula consectetur urna vitae euismod. Ut vehicula lectus nec interdum iaculis.
        Proin ut est diam. Phasellus vel orci orci. Cras tempus mauris elit, nec ornare dui tincidunt ac. Aenean id
        condimentum leo. Cras consequat eros eget dolor vulputate sagittis. Duis pulvinar eros dolor. Duis non malesuada
        mi. Vivamus vel tempus augue. In hendrerit elit vitae vestibulum feugiat. Mauris massa ligula, semper et posuere
        et, convallis ut odio.
        Cras blandit sagittis diam, sed sollicitudin eros finibus vitae. Donec in elit at diam fermentum laoreet. Sed
        sodales quam eu fringilla gravida. Donec sem lorem, vehicula non suscipit nec, porttitor sed urna. Aliquam nisi
        lectus, commodo at tellus sed, lobortis feugiat ipsum. Vivamus ut lorem ut mi blandit consectetur in non mi.
        Cras dapibus mauris ipsum, id porttitor tortor bibendum a. Duis eleifend eleifend egestas. Sed gravida lacus in
        dui vulputate molestie. Integer sed libero gravida, laoreet nunc sed, tristique ligula. Nam aliquam eu ex quis
        consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        Curabitur tempor nibh ut risus mollis, maximus varius velit fringilla. Aliquam erat volutpat. Nulla facilisi.
        Fusce auctor augue id condimentum porta. Praesent id hendrerit massa. Pellentesque hendrerit, tellus ac laoreet
        tincidunt, sapien ligula pulvinar nisi, cursus finibus dolor metus sodales erat. Vivamus eget enim sed dolor
        laoreet interdum. Proin sodales mauris quis massa sollicitudin bibendum. Donec eget ante in tellus auctor
        tincidunt eu vel ante. Donec porta et tortor accumsan faucibus. Pellentesque habitant morbi tristique senectus
        et netus et malesuada fames ac turpis egestas. Sed venenatis ipsum id ligula porta tristique. Curabitur et velit
        nisl. Nunc vitae justo id enim commodo mollis sagittis et erat. Nunc at varius erat. Duis faucibus velit sit
        amet arcu vulputate, non posuere ipsum varius. Fusce vehicula elit in imperdiet interdum. Etiam egestas
        fermentum enim nec ultrices. Sed ac mi elementum, tincidunt dui eget, aliquet lacus.
    </p>

    <button class="btn btn-secondary p-2" id="myButton">Click on me</button>
</div>

<script>
    // Отримуємо посилання на кнопку за її id
    var myButton = document.getElementById("myButton");

    // Додаємо обробник події для натискання кнопки
    myButton.addEventListener("click", function () {
        // Дія, яка відбудеться при натисканні на кнопку
        alert("Ви натиснули на кнопку!");
    })

    myButton.addEventListener("mouseover", function () {
        myButton.innerHTML = 'CLICK ON ME!!';
    })

    myButton.addEventListener("mouseout", function () {
        myButton.innerHTML = 'Click on me';
    })

</script>
{% endblock content %}