{% extends 'base.html' %}

{% block title %}Hello world{% endblock title %}

{% block content %}
<div class="container">
    <p class="h1 text-center bg-danger p-3">SlashBlog</p>
    <div class="container">
        <h1 class="display-1 text-primary text-center fw-bold">Hello</h1>
        <h1 class="display-3 text-warning text-center fw-bold">How are you?</h1>

        <div class="row m-5 ">
            <div class="col text-center fw-bold fs-1">Welcome</div>
            <div class="col text-center fw-bold fs-1">To</div>
            <div class="col text-center fw-bold fs-1">SlashBlog!</div>

            <div class="btn-group text-center m-4 px-3 py-4">
                <a href="{% url 'blog:index' %}" class="btn btn-primary p-3">Blogs</a>
                <a href="{% url 'main:about' %}" class="btn btn-outline-info p-3">About us</a>
            </div>
        </div>

        <p class="lead text-center">This is the main site</p>

    </div>
</div>

</div>


{% endblock content %}