{% extends 'base.html' %}

{% block title %}SlashBlog{% endblock title %}

{% block content %}
<div class="container">
    <div class="container">
        <h1 class="display-1 text-primary text-center fw-bold">Just</h1>
        <h1 class="display-1 text-success text-center fw-bold">Have</h1>
        <h1 class="display-1 text-warning text-center fw-bold">An Imagination!</h1>

        <hr class="border-5 border-dark-subtle">
        <div class="container d-flex justify-content-center">

            <img src="\static\imagination.jpg" alt="" class="img rounded">
        </div>

        <p class="lead text-center text-underline m-3">This is the main page</p>

    </div>
</div>

</div>


{% endblock content %}