{% extends 'base.html' %}

{% block title %}Blog Posts{% endblock title %}

{% block content %}
<div class="container text-center">
    {% if not all_posts %}
    <p class="display-3 fw-bold text-center">It looks like there are no posts here...</p>
    {% else %}
    <div class="container bg-dark-subtle rounded-3 my-3 py-1">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
            {% for post in all_posts %}
            <div class="col d-inline-flex py-2">
                <a href="{% url 'blog:detail' post.id %}"
                    class="card link-offset-2 link-underline link-underline-opacity-0 border-4 border-black bg-black shadow-sm"
                    style="width:100%">
                    <img src="{{ post.image.url }}" class="card-img-top" alt=" NO IMAGE">
                    <div class="card-body ">
                        <div class="container my-3">
                            <p class="card-text h3 fw-bold text-start">{{ post.title }}</p>
                            <p class="card-text h6 fw-bold text-start">By: Admin</p>
                            <p class="card-text text-muted text-start">{{ post.content|truncatechars:35 }}</p>
                        </div>
                    </div>
                </a>
            </div>

            {% endfor %}
            {% endif %}
        </div>
    </div>

</div>
{% endblock content %}