{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}

<p class="h2 text-center text-muted">Bruh</p>

<div class="container">

    <p class="text-center fw-bold fs-2">Ми маємо такі теми:</p>

    {% for obj in elements %}
    {% if obj.id != 2 %}
    <div class="text-center fs-4">{{ obj.text }}</div>
    {% endif %}
    {% endfor %}

    <div class="container">
        <div class="row m-4">
            <div class="col d-flex justify-content-center">
                <a href="{% url 'main:index' %}">
                    <p class="btn btn-success">Go to main page</p>
                </a>
            </div>
        </div>
    </div>

</div>

{% endblock content %}