<nav class="navbar fixed-top navbar-expand-md bg-light-subtle">
    <div class="container-xl mx-auto p-2">
        <a href="{% url 'main:index' %}" class="navbar-brand"><img src="\static\slash-square-fill-svgrepo-com.svg"
                alt="Logo" width="30" height="24" class="d-inline-block align-text-top mx-1"><span
                class="fw-bolder">SlashBlog</span></a>

        <button class="navbar-toggler btn btn-primary p-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
            aria-label="Toggle navigation">Options</button>

        <div class="collapse navbar-collapse justify-content-center" id="main-nav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link h4" href="{% url 'blog:index' %}">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h4" href="{% url 'main:about' %}">About us</a>
                </li>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="main-nav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link h4" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h4" href="{% url 'users:logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link h4" href="{% url 'users:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h4" href="{% url 'users:register' %}">Register</a>
                </li>
                {% endif %}
        </div>
</nav>